.sidebar
  .sidebar__user-information
    .sidebar__user-information__name ユーザー名
  .sidebar__message-group
    .sidebar__message-group__content
      %p.sidebar__message-group__content__title グループ名1
      %p.sidebar__message-group__content__description グループコメント1
    .sidebar__message-group__content
      %p.sidebar__message-group__content__title グループ名2
      %p.sidebar__message-group__content__description グループコメント2
    .sidebar__message-group__content
      %p.sidebar__message-group__content__title グループ名3
      %p.sidebar__message-group__content__description グループコメント3
