.wrapper
  .sidebar
    .user-information
      .user-information__name ユーザー名
    .groups
      .group-content
        %p.group-content__name グループ名1
        %p.group-content__message グループコメント1
      .group-content
        %p.group-content__name グループ名2
        %p.group-content__message グループコメント2
      .group-content
        %p.group-content__name グループ名3
        %p.group-content__message グループコメント3
