.wrapper
  .sidebar
    .user-information
      .user-information__name ユーザー名
    .message-group
      .message-content
        %p.message-content__title グループ名1
        %p.message-content__description グループコメント1
      .message-content
        %p.message-content__title グループ名2
        %p.message-content__description グループコメント2
      .message-content
        %p.message-content__title グループ名3
        %p.message-content__description グループコメント3
